In [4]:
# indice é uma forma de marcar aquela linha/objeto como unica, é exatamente igual ao indice de banco de dados
import pandas as pd

In [6]:
df = pd.DataFrame(
    [
        ['PE','Pernambuco', 'Recife'],['RJ', 'Rio de Janeiro', 'Rio de Janeiro'],
        ['PB', 'Paraíba', 'João Pessoa'],['SP','São Paulo','São Paulo'],
        ['MG','Minas Gerais','Belo Horizonte'],['CE','Ceará','Fortaleza'],
        ['AC','Acre','Rio Branco'],['MA','Maranhão','São Luís'],['RN','Rio Grande do Norte','Natal'],
        ['PR','Paraná','Curitiba'],['RS','Rio Grande do Sul','Porto Alegre'],    
    ], columns=['Sigla','Nome','Capital']
)

In [7]:
df['Sigla']

0     PE
1     RJ
2     PB
3     SP
4     MG
5     CE
6     AC
7     MA
8     RN
9     PR
10    RS
Name: Sigla, dtype: object

In [11]:
# me diga que estrutura é essa .
df.index

RangeIndex(start=0, stop=11, step=1)

In [14]:
# me traga o valor do index 0, como mostrado no site oficial essa função esta depreciada, deve-se usar as outras opções
df.ix[0]

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: 0, dtype: object

In [17]:
df.loc[:]

   Sigla                 Nome         Capital
0     PE           Pernambuco          Recife
1     RJ       Rio de Janeiro  Rio de Janeiro
2     PB              Paraíba     João Pessoa
3     SP            São Paulo       São Paulo
4     MG         Minas Gerais  Belo Horizonte
5     CE                Ceará       Fortaleza
6     AC                 Acre      Rio Branco
7     MA             Maranhão        São Luís
8     RN  Rio Grande do Norte           Natal
9     PR               Paraná        Curitiba
10    RS    Rio Grande do Sul    Porto Alegre

In [19]:
df.loc[0]

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: 0, dtype: object

In [21]:
# OBS: no loc o valor de limite passado é incluido no range de procura
df.loc[:3]

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro
2    PB         Paraíba     João Pessoa
3    SP       São Paulo       São Paulo

In [22]:
# já esta função não inclui o valor passado como limite
df.iloc[:3]

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro
2    PB         Paraíba     João Pessoa

In [23]:
# modificando o indice
df.index = pd.Index([1,2,3,4,5,6,7,8,9,10,11])
print(df)

   Sigla                 Nome         Capital
1     PE           Pernambuco          Recife
2     RJ       Rio de Janeiro  Rio de Janeiro
3     PB              Paraíba     João Pessoa
4     SP            São Paulo       São Paulo
5     MG         Minas Gerais  Belo Horizonte
6     CE                Ceará       Fortaleza
7     AC                 Acre      Rio Branco
8     MA             Maranhão        São Luís
9     RN  Rio Grande do Norte           Natal
10    PR               Paraná        Curitiba
11    RS    Rio Grande do Sul    Porto Alegre

In [24]:
# modificando o indice
df.index = pd.Index([1,2,3,4,5,6,7,8,9,10,11])
df

   Sigla                 Nome         Capital
1     PE           Pernambuco          Recife
2     RJ       Rio de Janeiro  Rio de Janeiro
3     PB              Paraíba     João Pessoa
4     SP            São Paulo       São Paulo
5     MG         Minas Gerais  Belo Horizonte
6     CE                Ceará       Fortaleza
7     AC                 Acre      Rio Branco
8     MA             Maranhão        São Luís
9     RN  Rio Grande do Norte           Natal
10    PR               Paraná        Curitiba
11    RS    Rio Grande do Sul    Porto Alegre

In [33]:
# colocando a sigla como indice
df.index = df['Sigla']

In [35]:
df

      Sigla                 Nome         Capital
Sigla
PE       PE           Pernambuco          Recife
RJ       RJ       Rio de Janeiro  Rio de Janeiro
PB       PB              Paraíba     João Pessoa
SP       SP            São Paulo       São Paulo
MG       MG         Minas Gerais  Belo Horizonte
CE       CE                Ceará       Fortaleza
AC       AC                 Acre      Rio Branco
MA       MA             Maranhão        São Luís
RN       RN  Rio Grande do Norte           Natal
PR       PR               Paraná        Curitiba
RS       RS    Rio Grande do Sul    Porto Alegre

In [38]:
# retirando coluna duplicada, só deu erro aqui porque eu ja tinha tirado e cliquei denovo para tirar
del df['Sigla']

KeyError: 'Sigla'

In [39]:
df

                      Nome         Capital
Sigla
PE              Pernambuco          Recife
RJ          Rio de Janeiro  Rio de Janeiro
PB                 Paraíba     João Pessoa
SP               São Paulo       São Paulo
MG            Minas Gerais  Belo Horizonte
CE                   Ceará       Fortaleza
AC                    Acre      Rio Branco
MA                Maranhão        São Luís
RN     Rio Grande do Norte           Natal
PR                  Paraná        Curitiba
RS       Rio Grande do Sul    Porto Alegre