In [2]:
from serenata_toolbox.datasets import Datasets

In [6]:
datasets = Datasets('data/')

In [7]:
datasets.downloader.download('2017-07-04-reimbursements.xz')

Downloading 2017-07-04-reimbursements.xz: 100%|██████████| 34.1M/34.1M [00:22<00:00, 1.52Mb/s]

In [10]:
import pandas as pd

In [12]:
 df = pd.read_csv('data/2017-07-04-reimbursements.xz')

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
df[:5]

,year,applicant_id,document_id,reimbursement_value_total,total_net_value,reimbursement_numbers,congressperson_name,congressperson_id,congressperson_document,term,...,issue_date,document_value,remark_value,net_values,month,installment,passenger,leg_of_the_trip,batch_number,reimbursement_values
0,2009,1001,1564212,0.0,130.00,2888,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-04-06 00:00:00,130.00,0.00,130.00,4,0,NaN,NaN,388810,0.0
1,2009,1001,1564223,0.0,135.00,2888,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-04-07 00:00:00,141.75,6.75,135.00,4,0,NaN,NaN,388810,0.0
2,2009,1001,1568039,0.0,1000.00,2893,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-03-12 00:00:00,1000.00,0.00,1000.00,3,0,NaN,NaN,390159,0.0
3,2009,1001,1568056,0.0,170.00,2894,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-04-14 00:00:00,170.00,0.00,170.00,4,0,NaN,NaN,390158,0.0
4,2009,1001,1568098,0.0,100.11,2894,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-04-09 00:00:00,100.11,0.00,100.11,4,0,NaN,NaN,390158,0.0

In [15]:
df.head()

,year,applicant_id,document_id,reimbursement_value_total,total_net_value,reimbursement_numbers,congressperson_name,congressperson_id,congressperson_document,term,...,issue_date,document_value,remark_value,net_values,month,installment,passenger,leg_of_the_trip,batch_number,reimbursement_values
0,2009,1001,1564212,0.0,130.00,2888,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-04-06 00:00:00,130.00,0.00,130.00,4,0,NaN,NaN,388810,0.0
1,2009,1001,1564223,0.0,135.00,2888,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-04-07 00:00:00,141.75,6.75,135.00,4,0,NaN,NaN,388810,0.0
2,2009,1001,1568039,0.0,1000.00,2893,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-03-12 00:00:00,1000.00,0.00,1000.00,3,0,NaN,NaN,390159,0.0
3,2009,1001,1568056,0.0,170.00,2894,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-04-14 00:00:00,170.00,0.00,170.00,4,0,NaN,NaN,390158,0.0
4,2009,1001,1568098,0.0,100.11,2894,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-04-09 00:00:00,100.11,0.00,100.11,4,0,NaN,NaN,390158,0.0

In [17]:
df.shape

(1619213, 31)

In [18]:
df.columns

Index(['year', 'applicant_id', 'document_id', 'reimbursement_value_total',
       'total_net_value', 'reimbursement_numbers', 'congressperson_name',
       'congressperson_id', 'congressperson_document', 'term', 'state',
       'party', 'term_id', 'subquota_number', 'subquota_description',
       'subquota_group_id', 'subquota_group_description', 'supplier',
       'cnpj_cpf', 'document_number', 'document_type', 'issue_date',
       'document_value', 'remark_value', 'net_values', 'month', 'installment',
       'passenger', 'leg_of_the_trip', 'batch_number', 'reimbursement_values'],
      dtype='object')

In [20]:
df.iloc[3]

year                                                         2009
applicant_id                                                 1001
document_id                                               1568056
reimbursement_value_total                                       0
total_net_value                                               170
reimbursement_numbers                                        2894
congressperson_name                              DILCEU SPERAFICO
congressperson_id                                           73768
congressperson_document                                       444
term                                                         2015
state                                                          PR
party                                                          PP
term_id                                                        55
subquota_number                                                 3
subquota_description                         Fuels and lubricants
subquota_group_id                                               1
subquota_group_description                   Veículos Automotores
supplier                      CONVER COMBUSTÍVEIS AUTOMÓVEIS LTDA
cnpj_cpf                                               3.8505e+10
document_number                                            132378
document_type                                                   0
issue_date                                    2009-04-14 00:00:00
document_value                                                170
remark_value                                                    0
net_values                                                    170
month                                                           4
installment                                                     0
passenger                                                     NaN
leg_of_the_trip                                               NaN
batch_number                                               390158
reimbursement_values                                            0
Name: 3, dtype: object

In [21]:
import numpy as np

In [23]:
df = pd.read_csv('data/2017-07-04-reimbursements.xz', dtype={'cnpj_cpf' : np.str})

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
df.iloc[3]

year                                                         2009
applicant_id                                                 1001
document_id                                               1568056
reimbursement_value_total                                       0
total_net_value                                               170
reimbursement_numbers                                        2894
congressperson_name                              DILCEU SPERAFICO
congressperson_id                                           73768
congressperson_document                                       444
term                                                         2015
state                                                          PR
party                                                          PP
term_id                                                        55
subquota_number                                                 3
subquota_description                         Fuels and lubricants
subquota_group_id                                               1
subquota_group_description                   Veículos Automotores
supplier                      CONVER COMBUSTÍVEIS AUTOMÓVEIS LTDA
cnpj_cpf                                           00038505000579
document_number                                            132378
document_type                                                   0
issue_date                                    2009-04-14 00:00:00
document_value                                                170
remark_value                                                    0
net_values                                                    170
month                                                           4
installment                                                     0
passenger                                                     NaN
leg_of_the_trip                                               NaN
batch_number                                               390158
reimbursement_values                                            0
Name: 3, dtype: object

In [26]:
df['subquota_description']

0                                       Fuels and lubricants
1                               Locomotion, meal and lodging
2          Maintenance of office supporting parliamentary...
3                                       Fuels and lubricants
4                                       Fuels and lubricants
5          Software purchase or renting; Postal services;...
6                               Locomotion, meal and lodging
7                                       Fuels and lubricants
8                                       Fuels and lubricants
9                                       Fuels and lubricants
10                                      Fuels and lubricants
11                                      Fuels and lubricants
12                                      Fuels and lubricants
13                                      Fuels and lubricants
14                                      Fuels and lubricants
15                                      Fuels and lubricants
16                                      Fuels and lubricants
17                                      Fuels and lubricants
18                                      Fuels and lubricants
19                                      Fuels and lubricants
20                                      Fuels and lubricants
21                                      Fuels and lubricants
22                                      Fuels and lubricants
23                                      Fuels and lubricants
24                                      Fuels and lubricants
25                                      Fuels and lubricants
26                                      Fuels and lubricants
27                                      Fuels and lubricants
28                                      Fuels and lubricants
29                       Publicity of parliamentary activity
                                 ...
1619183                                 Fuels and lubricants
1619184                                 Fuels and lubricants
1619185    Maintenance of office supporting parliamentary...
1619186                  Publicity of parliamentary activity
1619187                                 Fuels and lubricants
1619188    Maintenance of office supporting parliamentary...
1619189                                    Telecommunication
1619190                                  Congressperson meal
1619191                                    Telecommunication
1619192                                  Congressperson meal
1619193                                  Congressperson meal
1619194                                 Fuels and lubricants
1619195                                 Fuels and lubricants
1619196                                 Fuels and lubricants
1619197                                  Congressperson meal
1619198                                 Fuels and lubricants
1619199             Consultancy, research and technical work
1619200             Consultancy, research and technical work
1619201                Automotive vehicle renting or charter
1619202                                 Fuels and lubricants
1619203                                  Congressperson meal
1619204                                  Congressperson meal
1619205                                 Fuels and lubricants
1619206    Lodging, except for congressperson from Distri...
1619207                                  Congressperson meal
1619208                                  Congressperson meal
1619209    Lodging, except for congressperson from Distri...
1619210                  Publicity of parliamentary activity
1619211                  Publicity of parliamentary activity
1619212                                    Telecommunication
Name: subquota_description, Length: 1619213, dtype: object

In [27]:
df['subquota_description'].unique()

array(['Fuels and lubricants', 'Locomotion, meal and lodging',
       'Maintenance of office supporting parliamentary activity',
       'Software purchase or renting; Postal services; Subscriptions',
       'Publicity of parliamentary activity',
       'Purchase of office supplies',
       'Security service provided by specialized company',
       'Flight tickets', 'Congressperson meal', 'Telecommunication',
       'Lodging, except for congressperson from Distrito Federal',
       'Automotive vehicle renting or watercraft charter',
       'Postal services', 'Consultancy, research and technical work',
       'Publication subscriptions', 'Taxi, toll and parking',
       'Automotive vehicle renting or charter',
       'Terrestrial, maritime and fluvial tickets',
       'Aircraft renting or charter of aircraft',
       'Watercraft renting or charter',
       'Participation in course, talk or similar event'], dtype=object)

In [32]:
meals = df.query('subquota_description == "Congressperson meal" ')

In [34]:
meals

,year,applicant_id,document_id,reimbursement_value_total,total_net_value,reimbursement_numbers,congressperson_name,congressperson_id,congressperson_document,term,...,issue_date,document_value,remark_value,net_values,month,installment,passenger,leg_of_the_trip,batch_number,reimbursement_values
159,2009,1001,1627199,0.0,122.43,2986,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-07-07 00:00:00,122.43,0.0,122.43,7,0,NaN,NaN,410209,0.0
196,2009,1001,1635276,0.0,78.00,3006,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-07-22 00:00:00,78.00,0.0,78.00,7,0,NaN,NaN,412206,0.0
380,2009,1001,1709015,0.0,76.45,3112,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-10-29 00:00:00,76.45,0.0,76.45,10,0,NaN,NaN,433750,0.0
407,2009,1001,1722100,0.0,68.88,3129,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-11-12 00:00:00,68.88,0.0,68.88,11,0,NaN,NaN,437649,0.0
414,2009,1001,1726433,0.0,104.15,3133,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-11-19 00:00:00,104.15,0.0,104.15,11,0,NaN,NaN,438905,0.0
758,2009,1003,1617069,0.0,62.26,2953,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-01 00:00:00,62.26,0.0,62.26,7,0,NaN,NaN,406850,0.0
774,2009,1003,1621808,0.0,19.07,2955,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-06 00:00:00,19.07,0.0,19.07,7,0,NaN,NaN,408121,0.0
802,2009,1003,1629189,0.0,61.55,2991,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-13 00:00:00,61.55,0.0,61.55,7,0,NaN,NaN,410579,0.0
818,2009,1003,1635062,0.0,12.29,3002,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-11 00:00:00,12.29,0.0,12.29,7,0,NaN,NaN,412166,0.0
820,2009,1003,1635072,0.0,39.65,3002,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-11 00:00:00,39.65,0.0,39.65,7,0,NaN,NaN,412166,0.0
822,2009,1003,1635080,0.0,75.40,3002,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-24 00:00:00,75.40,0.0,75.40,7,0,NaN,NaN,412166,0.0
832,2009,1003,1635139,0.0,26.95,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-29 00:00:00,26.95,0.0,26.95,7,0,NaN,NaN,412167,0.0
833,2009,1003,1635146,0.0,49.50,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-17 00:00:00,49.50,0.0,49.50,7,0,NaN,NaN,412167,0.0
835,2009,1003,1635156,0.0,56.43,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-27 00:00:00,56.43,0.0,56.43,7,0,NaN,NaN,412167,0.0
836,2009,1003,1635159,0.0,66.00,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-23 00:00:00,66.00,0.0,66.00,7,0,NaN,NaN,412167,0.0
837,2009,1003,1635164,0.0,33.30,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-22 00:00:00,33.30,0.0,33.30,7,0,NaN,NaN,412167,0.0
839,2009,1003,1635171,0.0,65.00,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-26 00:00:00,65.00,0.0,65.00,7,0,NaN,NaN,412167,0.0
840,2009,1003,1635175,0.0,11.95,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-14 00:00:00,11.95,0.0,11.95,7,0,NaN,NaN,412167,0.0
846,2009,1003,1640965,0.0,64.00,3009,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-02 00:00:00,64.00,0.0,64.00,8,0,NaN,NaN,413711,0.0
847,2009,1003,1640971,0.0,62.70,3009,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-30 00:00:00,62.70,0.0,62.70,7,0,NaN,NaN,413713,0.0
852,2009,1003,1648312,0.0,11.00,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-21 00:00:00,11.00,0.0,11.00,7,0,NaN,NaN,415951,0.0
867,2009,1003,1648370,0.0,45.40,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-31 00:00:00,45.40,0.0,45.40,7,0,NaN,NaN,415952,0.0
869,2009,1003,1648374,0.0,51.30,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-02 00:00:00,51.30,0.0,51.30,8,0,NaN,NaN,415949,0.0
871,2009,1003,1648377,0.0,123.08,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-03 00:00:00,123.08,0.0,123.08,8,0,NaN,NaN,415949,0.0
872,2009,1003,1648379,0.0,99.30,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-06 00:00:00,104.20,4.9,99.30,8,0,NaN,NaN,415950,0.0
874,2009,1003,1648388,0.0,88.30,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-05 00:00:00,88.30,0.0,88.30,7,0,NaN,NaN,415952,0.0
884,2009,1003,1648426,0.0,8.00,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-21 00:00:00,8.00,0.0,8.00,7,0,NaN,NaN,415953,0.0
892,2009,1003,1655065,0.0,20.50,3038,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-24 00:00:00,20.50,0.0,20.50,8,0,NaN,NaN,417970,0.0
907,2009,1003,1661752,0.0,38.20,3044,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-25 00:00:00,38.20,0.0,38.20,8,0,NaN,NaN,419864,0.0
926,2009,1003,1666455,0.0,129.61,3054,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-31 00:00:00,129.61,0.0,129.61,8,0,NaN,NaN,421350,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1619094,2017,999,6192732,0.0,24.99,5692,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-01-24 00:00:00,24.99,0.0,24.99,1,0,NaN,NaN,1352736,0.0
1619095,2017,999,6192736,0.0,60.00,5692,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-01-27 00:00:00,60.00,0.0,60.00,1,0,NaN,NaN,1352736,0.0
1619096,2017,999,6192738,0.0,70.50,5692,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-01-27 00:00:00,70.50,0.0,70.50,1,0,NaN,NaN,1352736,0.0
1619108,2017,999,6199298,0.0,33.90,5709,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-02-03 00:00:00,33.90,0.0,33.90,2,0,NaN,NaN,1354917,0.0
1619109,2017,999,6200564,0.0,105.00,5713,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-01-16 00:00:00,105.00,0.0,105.00,1,0,NaN,NaN,1355372,0.0
1619138,2017,999,6230933,0.0,57.25,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-08 00:00:00,57.25,0.0,57.25,3,0,NaN,NaN,1366226,0.0
1619139,2017,999,6230935,0.0,57.25,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-13 00:00:00,57.25,0.0,57.25,3,0,NaN,NaN,1366226,0.0
1619140,2017,999,6230938,0.0,60.40,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-06 00:00:00,60.40,0.0,60.40,3,0,NaN,NaN,1366226,0.0
1619141,2017,999,6230941,0.0,62.70,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-10 00:00:00,62.70,0.0,62.70,3,0,NaN,NaN,1366226,0.0
1619143,2017,999,6230949,0.0,88.00,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-12 00:00:00,88.00,0.0,88.00,3,0,NaN,NaN,1366226,0.0
1619146,2017,999,6230962,0.0,30.00,5770,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-02-18 00:00:00,30.00,0.0,30.00,2,0,NaN,NaN,1366218,0.0
1619147,2017,999,6230965,0.0,29.90,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-02-19 00:00:00,29.90,0.0,29.90,2,0,NaN,NaN,1366219,0.0
1619148,2017,999,6230971,0.0,130.00,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-08 00:00:00,130.00,0.0,130.00,3,0,NaN,NaN,1366227,0.0
1619149,2017,999,6230999,0.0,31.38,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-02 00:00:00,31.38,0.0,31.38,3,0,NaN,NaN,1366226,0.0
1619152,2017,999,6239191,0.0,50.00,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-17 00:00:00,50.00,0.0,50.00,3,0,NaN,NaN,1368397,0.0
1619153,2017,999,6239195,0.0,32.85,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-17 00:00:00,32.85,0.0,32.85,3,0,NaN,NaN,1368397,0.0
1619154,2017,999,6239199,0.0,43.50,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-17 00:00:00,43.50,0.0,43.50,3,0,NaN,NaN,1368397,0.0
1619155,2017,999,6239205,0.0,51.40,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-16 00:00:00,51.40,0.0,51.40,3,0,NaN,NaN,1368397,0.0
1619157,2017,999,6239209,0.0,35.00,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-19 00:00:00,35.00,0.0,35.00,3,0,NaN,NaN,1368397,0.0
1619167,2017,999,6246331,0.0,37.99,5790,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-26 00:00:00,37.99,0.0,37.99,3,0,NaN,NaN,1371240,0.0
1619168,2017,999,6246375,0.0,45.00,5790,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-27 00:00:00,49.50,4.5,45.00,3,0,NaN,NaN,1371240,0.0
1619176,2017,999,6249422,0.0,57.25,5808,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-04 00:00:00,57.25,0.0,57.25,4,0,NaN,NaN,1372176,0.0
1619190,2017,999,6269331,0.0,49.39,5832,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-16 00:00:00,49.39,0.0,49.39,4,0,NaN,NaN,1379541,0.0
1619192,2017,999,6269436,0.0,60.40,5832,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-07 00:00:00,60.40,0.0,60.40,4,0,NaN,NaN,1379541,0.0
1619193,2017,999,6269440,0.0,60.40,5832,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-10 00:00:00,60.40,0.0,60.40,4,0,NaN,NaN,1379541,0.0
1619197,2017,999,6269452,0.0,60.40,5832,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-17 00:00:00,60.40,0.0,60.40,4,0,NaN,NaN,1379541,0.0
1619203,2017,999,6273930,0.0,32.65,5833,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-26 00:00:00,32.65,0.0,32.65,4,0,NaN,NaN,1381408,0.0
1619204,2017,999,6273944,0.0,24.25,5833,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-26 00:00:00,24.25,0.0,24.25,4,0,NaN,NaN,1381408,0.0
1619207,2017,999,6274170,0.0,24.90,5833,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-27 00:00:00,24.90,0.0,24.90,4,0,NaN,NaN,1381408,0.0
1619208,2017,999,6274174,0.0,29.50,5833,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-27 00:00:00,29.50,0.0,29.50,4,0,NaN,NaN,1381408,0.0

In [35]:
len(meals)

201600

In [36]:
df.iloc[42]

year                                          2009
applicant_id                                  1001
document_id                                1581821
reimbursement_value_total                        0
total_net_value                                125
reimbursement_numbers                         2909
congressperson_name               DILCEU SPERAFICO
congressperson_id                            73768
congressperson_document                        444
term                                          2015
state                                           PR
party                                           PP
term_id                                         55
subquota_number                                  3
subquota_description          Fuels and lubricants
subquota_group_id                                1
subquota_group_description    Veículos Automotores
supplier                       AUTO POSTO IMPERIAL
cnpj_cpf                            00814083000152
document_number                             462410
document_type                                    0
issue_date                     2009-05-06 00:00:00
document_value                                 125
remark_value                                     0
net_values                                     125
month                                            5
installment                                      0
passenger                                      NaN
leg_of_the_trip                                NaN
batch_number                                394692
reimbursement_values                             0
Name: 42, dtype: object

In [37]:
meals['total_net_value'].describe()

count    201600.000000
mean         65.687914
std          98.034144
min           0.010000
25%          25.000000
50%          46.080000
75%          85.000000
max        6205.000000
Name: total_net_value, dtype: float64

In [39]:
meals.query('total_net_value < 5000')

,year,applicant_id,document_id,reimbursement_value_total,total_net_value,reimbursement_numbers,congressperson_name,congressperson_id,congressperson_document,term,...,issue_date,document_value,remark_value,net_values,month,installment,passenger,leg_of_the_trip,batch_number,reimbursement_values
159,2009,1001,1627199,0.0,122.43,2986,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-07-07 00:00:00,122.43,0.0,122.43,7,0,NaN,NaN,410209,0.0
196,2009,1001,1635276,0.0,78.00,3006,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-07-22 00:00:00,78.00,0.0,78.00,7,0,NaN,NaN,412206,0.0
380,2009,1001,1709015,0.0,76.45,3112,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-10-29 00:00:00,76.45,0.0,76.45,10,0,NaN,NaN,433750,0.0
407,2009,1001,1722100,0.0,68.88,3129,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-11-12 00:00:00,68.88,0.0,68.88,11,0,NaN,NaN,437649,0.0
414,2009,1001,1726433,0.0,104.15,3133,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-11-19 00:00:00,104.15,0.0,104.15,11,0,NaN,NaN,438905,0.0
758,2009,1003,1617069,0.0,62.26,2953,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-01 00:00:00,62.26,0.0,62.26,7,0,NaN,NaN,406850,0.0
774,2009,1003,1621808,0.0,19.07,2955,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-06 00:00:00,19.07,0.0,19.07,7,0,NaN,NaN,408121,0.0
802,2009,1003,1629189,0.0,61.55,2991,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-13 00:00:00,61.55,0.0,61.55,7,0,NaN,NaN,410579,0.0
818,2009,1003,1635062,0.0,12.29,3002,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-11 00:00:00,12.29,0.0,12.29,7,0,NaN,NaN,412166,0.0
820,2009,1003,1635072,0.0,39.65,3002,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-11 00:00:00,39.65,0.0,39.65,7,0,NaN,NaN,412166,0.0
822,2009,1003,1635080,0.0,75.40,3002,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-24 00:00:00,75.40,0.0,75.40,7,0,NaN,NaN,412166,0.0
832,2009,1003,1635139,0.0,26.95,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-29 00:00:00,26.95,0.0,26.95,7,0,NaN,NaN,412167,0.0
833,2009,1003,1635146,0.0,49.50,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-17 00:00:00,49.50,0.0,49.50,7,0,NaN,NaN,412167,0.0
835,2009,1003,1635156,0.0,56.43,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-27 00:00:00,56.43,0.0,56.43,7,0,NaN,NaN,412167,0.0
836,2009,1003,1635159,0.0,66.00,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-23 00:00:00,66.00,0.0,66.00,7,0,NaN,NaN,412167,0.0
837,2009,1003,1635164,0.0,33.30,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-22 00:00:00,33.30,0.0,33.30,7,0,NaN,NaN,412167,0.0
839,2009,1003,1635171,0.0,65.00,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-26 00:00:00,65.00,0.0,65.00,7,0,NaN,NaN,412167,0.0
840,2009,1003,1635175,0.0,11.95,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-14 00:00:00,11.95,0.0,11.95,7,0,NaN,NaN,412167,0.0
846,2009,1003,1640965,0.0,64.00,3009,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-02 00:00:00,64.00,0.0,64.00,8,0,NaN,NaN,413711,0.0
847,2009,1003,1640971,0.0,62.70,3009,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-30 00:00:00,62.70,0.0,62.70,7,0,NaN,NaN,413713,0.0
852,2009,1003,1648312,0.0,11.00,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-21 00:00:00,11.00,0.0,11.00,7,0,NaN,NaN,415951,0.0
867,2009,1003,1648370,0.0,45.40,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-31 00:00:00,45.40,0.0,45.40,7,0,NaN,NaN,415952,0.0
869,2009,1003,1648374,0.0,51.30,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-02 00:00:00,51.30,0.0,51.30,8,0,NaN,NaN,415949,0.0
871,2009,1003,1648377,0.0,123.08,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-03 00:00:00,123.08,0.0,123.08,8,0,NaN,NaN,415949,0.0
872,2009,1003,1648379,0.0,99.30,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-06 00:00:00,104.20,4.9,99.30,8,0,NaN,NaN,415950,0.0
874,2009,1003,1648388,0.0,88.30,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-05 00:00:00,88.30,0.0,88.30,7,0,NaN,NaN,415952,0.0
884,2009,1003,1648426,0.0,8.00,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-21 00:00:00,8.00,0.0,8.00,7,0,NaN,NaN,415953,0.0
892,2009,1003,1655065,0.0,20.50,3038,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-24 00:00:00,20.50,0.0,20.50,8,0,NaN,NaN,417970,0.0
907,2009,1003,1661752,0.0,38.20,3044,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-25 00:00:00,38.20,0.0,38.20,8,0,NaN,NaN,419864,0.0
926,2009,1003,1666455,0.0,129.61,3054,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-31 00:00:00,129.61,0.0,129.61,8,0,NaN,NaN,421350,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1619094,2017,999,6192732,0.0,24.99,5692,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-01-24 00:00:00,24.99,0.0,24.99,1,0,NaN,NaN,1352736,0.0
1619095,2017,999,6192736,0.0,60.00,5692,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-01-27 00:00:00,60.00,0.0,60.00,1,0,NaN,NaN,1352736,0.0
1619096,2017,999,6192738,0.0,70.50,5692,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-01-27 00:00:00,70.50,0.0,70.50,1,0,NaN,NaN,1352736,0.0
1619108,2017,999,6199298,0.0,33.90,5709,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-02-03 00:00:00,33.90,0.0,33.90,2,0,NaN,NaN,1354917,0.0
1619109,2017,999,6200564,0.0,105.00,5713,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-01-16 00:00:00,105.00,0.0,105.00,1,0,NaN,NaN,1355372,0.0
1619138,2017,999,6230933,0.0,57.25,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-08 00:00:00,57.25,0.0,57.25,3,0,NaN,NaN,1366226,0.0
1619139,2017,999,6230935,0.0,57.25,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-13 00:00:00,57.25,0.0,57.25,3,0,NaN,NaN,1366226,0.0
1619140,2017,999,6230938,0.0,60.40,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-06 00:00:00,60.40,0.0,60.40,3,0,NaN,NaN,1366226,0.0
1619141,2017,999,6230941,0.0,62.70,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-10 00:00:00,62.70,0.0,62.70,3,0,NaN,NaN,1366226,0.0
1619143,2017,999,6230949,0.0,88.00,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-12 00:00:00,88.00,0.0,88.00,3,0,NaN,NaN,1366226,0.0
1619146,2017,999,6230962,0.0,30.00,5770,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-02-18 00:00:00,30.00,0.0,30.00,2,0,NaN,NaN,1366218,0.0
1619147,2017,999,6230965,0.0,29.90,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-02-19 00:00:00,29.90,0.0,29.90,2,0,NaN,NaN,1366219,0.0
1619148,2017,999,6230971,0.0,130.00,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-08 00:00:00,130.00,0.0,130.00,3,0,NaN,NaN,1366227,0.0
1619149,2017,999,6230999,0.0,31.38,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-02 00:00:00,31.38,0.0,31.38,3,0,NaN,NaN,1366226,0.0
1619152,2017,999,6239191,0.0,50.00,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-17 00:00:00,50.00,0.0,50.00,3,0,NaN,NaN,1368397,0.0
1619153,2017,999,6239195,0.0,32.85,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-17 00:00:00,32.85,0.0,32.85,3,0,NaN,NaN,1368397,0.0
1619154,2017,999,6239199,0.0,43.50,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-17 00:00:00,43.50,0.0,43.50,3,0,NaN,NaN,1368397,0.0
1619155,2017,999,6239205,0.0,51.40,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-16 00:00:00,51.40,0.0,51.40,3,0,NaN,NaN,1368397,0.0
1619157,2017,999,6239209,0.0,35.00,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-19 00:00:00,35.00,0.0,35.00,3,0,NaN,NaN,1368397,0.0
1619167,2017,999,6246331,0.0,37.99,5790,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-26 00:00:00,37.99,0.0,37.99,3,0,NaN,NaN,1371240,0.0
1619168,2017,999,6246375,0.0,45.00,5790,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-27 00:00:00,49.50,4.5,45.00,3,0,NaN,NaN,1371240,0.0
1619176,2017,999,6249422,0.0,57.25,5808,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-04 00:00:00,57.25,0.0,57.25,4,0,NaN,NaN,1372176,0.0
1619190,2017,999,6269331,0.0,49.39,5832,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-16 00:00:00,49.39,0.0,49.39,4,0,NaN,NaN,1379541,0.0
1619192,2017,999,6269436,0.0,60.40,5832,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-07 00:00:00,60.40,0.0,60.40,4,0,NaN,NaN,1379541,0.0
1619193,2017,999,6269440,0.0,60.40,5832,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-10 00:00:00,60.40,0.0,60.40,4,0,NaN,NaN,1379541,0.0
1619197,2017,999,6269452,0.0,60.40,5832,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-17 00:00:00,60.40,0.0,60.40,4,0,NaN,NaN,1379541,0.0
1619203,2017,999,6273930,0.0,32.65,5833,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-26 00:00:00,32.65,0.0,32.65,4,0,NaN,NaN,1381408,0.0
1619204,2017,999,6273944,0.0,24.25,5833,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-26 00:00:00,24.25,0.0,24.25,4,0,NaN,NaN,1381408,0.0
1619207,2017,999,6274170,0.0,24.90,5833,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-27 00:00:00,24.90,0.0,24.90,4,0,NaN,NaN,1381408,0.0
1619208,2017,999,6274174,0.0,29.50,5833,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-27 00:00:00,29.50,0.0,29.50,4,0,NaN,NaN,1381408,0.0

In [42]:
meals = meals.dropna?

In [ ]:
meals = meals.dropna

In [43]:
meals = meals.query('congressperson_id == congressperson_id')

In [44]:
meals.query('total_net_value < 5000')

,year,applicant_id,document_id,reimbursement_value_total,total_net_value,reimbursement_numbers,congressperson_name,congressperson_id,congressperson_document,term,...,issue_date,document_value,remark_value,net_values,month,installment,passenger,leg_of_the_trip,batch_number,reimbursement_values
159,2009,1001,1627199,0.0,122.43,2986,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-07-07 00:00:00,122.43,0.0,122.43,7,0,NaN,NaN,410209,0.0
196,2009,1001,1635276,0.0,78.00,3006,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-07-22 00:00:00,78.00,0.0,78.00,7,0,NaN,NaN,412206,0.0
380,2009,1001,1709015,0.0,76.45,3112,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-10-29 00:00:00,76.45,0.0,76.45,10,0,NaN,NaN,433750,0.0
407,2009,1001,1722100,0.0,68.88,3129,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-11-12 00:00:00,68.88,0.0,68.88,11,0,NaN,NaN,437649,0.0
414,2009,1001,1726433,0.0,104.15,3133,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-11-19 00:00:00,104.15,0.0,104.15,11,0,NaN,NaN,438905,0.0
758,2009,1003,1617069,0.0,62.26,2953,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-01 00:00:00,62.26,0.0,62.26,7,0,NaN,NaN,406850,0.0
774,2009,1003,1621808,0.0,19.07,2955,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-06 00:00:00,19.07,0.0,19.07,7,0,NaN,NaN,408121,0.0
802,2009,1003,1629189,0.0,61.55,2991,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-13 00:00:00,61.55,0.0,61.55,7,0,NaN,NaN,410579,0.0
818,2009,1003,1635062,0.0,12.29,3002,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-11 00:00:00,12.29,0.0,12.29,7,0,NaN,NaN,412166,0.0
820,2009,1003,1635072,0.0,39.65,3002,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-11 00:00:00,39.65,0.0,39.65,7,0,NaN,NaN,412166,0.0
822,2009,1003,1635080,0.0,75.40,3002,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-24 00:00:00,75.40,0.0,75.40,7,0,NaN,NaN,412166,0.0
832,2009,1003,1635139,0.0,26.95,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-29 00:00:00,26.95,0.0,26.95,7,0,NaN,NaN,412167,0.0
833,2009,1003,1635146,0.0,49.50,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-17 00:00:00,49.50,0.0,49.50,7,0,NaN,NaN,412167,0.0
835,2009,1003,1635156,0.0,56.43,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-27 00:00:00,56.43,0.0,56.43,7,0,NaN,NaN,412167,0.0
836,2009,1003,1635159,0.0,66.00,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-23 00:00:00,66.00,0.0,66.00,7,0,NaN,NaN,412167,0.0
837,2009,1003,1635164,0.0,33.30,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-22 00:00:00,33.30,0.0,33.30,7,0,NaN,NaN,412167,0.0
839,2009,1003,1635171,0.0,65.00,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-26 00:00:00,65.00,0.0,65.00,7,0,NaN,NaN,412167,0.0
840,2009,1003,1635175,0.0,11.95,3004,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-14 00:00:00,11.95,0.0,11.95,7,0,NaN,NaN,412167,0.0
846,2009,1003,1640965,0.0,64.00,3009,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-02 00:00:00,64.00,0.0,64.00,8,0,NaN,NaN,413711,0.0
847,2009,1003,1640971,0.0,62.70,3009,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-30 00:00:00,62.70,0.0,62.70,7,0,NaN,NaN,413713,0.0
852,2009,1003,1648312,0.0,11.00,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-21 00:00:00,11.00,0.0,11.00,7,0,NaN,NaN,415951,0.0
867,2009,1003,1648370,0.0,45.40,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-31 00:00:00,45.40,0.0,45.40,7,0,NaN,NaN,415952,0.0
869,2009,1003,1648374,0.0,51.30,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-02 00:00:00,51.30,0.0,51.30,8,0,NaN,NaN,415949,0.0
871,2009,1003,1648377,0.0,123.08,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-03 00:00:00,123.08,0.0,123.08,8,0,NaN,NaN,415949,0.0
872,2009,1003,1648379,0.0,99.30,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-06 00:00:00,104.20,4.9,99.30,8,0,NaN,NaN,415950,0.0
874,2009,1003,1648388,0.0,88.30,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-05 00:00:00,88.30,0.0,88.30,7,0,NaN,NaN,415952,0.0
884,2009,1003,1648426,0.0,8.00,3020,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-07-21 00:00:00,8.00,0.0,8.00,7,0,NaN,NaN,415953,0.0
892,2009,1003,1655065,0.0,20.50,3038,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-24 00:00:00,20.50,0.0,20.50,8,0,NaN,NaN,417970,0.0
907,2009,1003,1661752,0.0,38.20,3044,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-25 00:00:00,38.20,0.0,38.20,8,0,NaN,NaN,419864,0.0
926,2009,1003,1666455,0.0,129.61,3054,DOMINGOS DUTRA,74197.0,72.0,2011.0,...,2009-08-31 00:00:00,129.61,0.0,129.61,8,0,NaN,NaN,421350,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1619094,2017,999,6192732,0.0,24.99,5692,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-01-24 00:00:00,24.99,0.0,24.99,1,0,NaN,NaN,1352736,0.0
1619095,2017,999,6192736,0.0,60.00,5692,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-01-27 00:00:00,60.00,0.0,60.00,1,0,NaN,NaN,1352736,0.0
1619096,2017,999,6192738,0.0,70.50,5692,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-01-27 00:00:00,70.50,0.0,70.50,1,0,NaN,NaN,1352736,0.0
1619108,2017,999,6199298,0.0,33.90,5709,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-02-03 00:00:00,33.90,0.0,33.90,2,0,NaN,NaN,1354917,0.0
1619109,2017,999,6200564,0.0,105.00,5713,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-01-16 00:00:00,105.00,0.0,105.00,1,0,NaN,NaN,1355372,0.0
1619138,2017,999,6230933,0.0,57.25,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-08 00:00:00,57.25,0.0,57.25,3,0,NaN,NaN,1366226,0.0
1619139,2017,999,6230935,0.0,57.25,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-13 00:00:00,57.25,0.0,57.25,3,0,NaN,NaN,1366226,0.0
1619140,2017,999,6230938,0.0,60.40,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-06 00:00:00,60.40,0.0,60.40,3,0,NaN,NaN,1366226,0.0
1619141,2017,999,6230941,0.0,62.70,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-10 00:00:00,62.70,0.0,62.70,3,0,NaN,NaN,1366226,0.0
1619143,2017,999,6230949,0.0,88.00,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-12 00:00:00,88.00,0.0,88.00,3,0,NaN,NaN,1366226,0.0
1619146,2017,999,6230962,0.0,30.00,5770,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-02-18 00:00:00,30.00,0.0,30.00,2,0,NaN,NaN,1366218,0.0
1619147,2017,999,6230965,0.0,29.90,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-02-19 00:00:00,29.90,0.0,29.90,2,0,NaN,NaN,1366219,0.0
1619148,2017,999,6230971,0.0,130.00,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-08 00:00:00,130.00,0.0,130.00,3,0,NaN,NaN,1366227,0.0
1619149,2017,999,6230999,0.0,31.38,5768,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-02 00:00:00,31.38,0.0,31.38,3,0,NaN,NaN,1366226,0.0
1619152,2017,999,6239191,0.0,50.00,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-17 00:00:00,50.00,0.0,50.00,3,0,NaN,NaN,1368397,0.0
1619153,2017,999,6239195,0.0,32.85,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-17 00:00:00,32.85,0.0,32.85,3,0,NaN,NaN,1368397,0.0
1619154,2017,999,6239199,0.0,43.50,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-17 00:00:00,43.50,0.0,43.50,3,0,NaN,NaN,1368397,0.0
1619155,2017,999,6239205,0.0,51.40,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-16 00:00:00,51.40,0.0,51.40,3,0,NaN,NaN,1368397,0.0
1619157,2017,999,6239209,0.0,35.00,5778,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-19 00:00:00,35.00,0.0,35.00,3,0,NaN,NaN,1368397,0.0
1619167,2017,999,6246331,0.0,37.99,5790,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-26 00:00:00,37.99,0.0,37.99,3,0,NaN,NaN,1371240,0.0
1619168,2017,999,6246375,0.0,45.00,5790,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-03-27 00:00:00,49.50,4.5,45.00,3,0,NaN,NaN,1371240,0.0
1619176,2017,999,6249422,0.0,57.25,5808,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-04 00:00:00,57.25,0.0,57.25,4,0,NaN,NaN,1372176,0.0
1619190,2017,999,6269331,0.0,49.39,5832,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-16 00:00:00,49.39,0.0,49.39,4,0,NaN,NaN,1379541,0.0
1619192,2017,999,6269436,0.0,60.40,5832,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-07 00:00:00,60.40,0.0,60.40,4,0,NaN,NaN,1379541,0.0
1619193,2017,999,6269440,0.0,60.40,5832,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-10 00:00:00,60.40,0.0,60.40,4,0,NaN,NaN,1379541,0.0
1619197,2017,999,6269452,0.0,60.40,5832,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-17 00:00:00,60.40,0.0,60.40,4,0,NaN,NaN,1379541,0.0
1619203,2017,999,6273930,0.0,32.65,5833,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-26 00:00:00,32.65,0.0,32.65,4,0,NaN,NaN,1381408,0.0
1619204,2017,999,6273944,0.0,24.25,5833,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-26 00:00:00,24.25,0.0,24.25,4,0,NaN,NaN,1381408,0.0
1619207,2017,999,6274170,0.0,24.90,5833,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-27 00:00:00,24.90,0.0,24.90,4,0,NaN,NaN,1381408,0.0
1619208,2017,999,6274174,0.0,29.50,5833,DARCÍSIO PERONDI,73891.0,491.0,2015.0,...,2017-04-27 00:00:00,29.50,0.0,29.50,4,0,NaN,NaN,1381408,0.0

In [45]:
meals.groupby?

In [56]:
def group_restaurants(df):
    return pd.Series({
        'cnpj': df.iloc[0]['cnpj_cpf'],
        'mean': mean,
        'std' : std,
        'limit' : mean + (2 * std),
        'count' : len(df)
    })
limits = meals.groupby('cnpj_cpf').apply(group_restaurants).sort_values('count', ascending=False).reset_index()
limits

NameError: name 'mean' is not defined

In [58]:
final = meals.merge(limits, left_on='cnpj_cpf', rigth_on='cnpj')

NameError: name 'limits' is not defined